@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding: 8px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.navbar h1{
  color: #f1356d
}

#search-list {
  height: 700px;
  overflow-y:scroll;
}

#login{
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 200px;
}
